body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: snow
}

.myContainer{
    margin-left: 35%;
    margin-right: 35%;
}

.myForm{
    padding: 20px;
    border-radius: 5px;
    background-color: #00308F;
    color:#FFFFFF;
}

.myInput{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;

    width: 100%;
    min-height: 25px;
    margin-top:5px
}

.mySelect{
    border: 1px solid #FFFFFF;
    border-radius: 5px;

    width: 100%;
    min-height: 30px;
    margin-top: 5px;
}

.myFormInput{
    margin-bottom: 10px;
}

.myButton{
    border: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.myButton:hover{
    cursor: pointer;
    background-color: gainsboro;
}

.myTable {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{
    background-color: cornflowerblue;
}

.myMenu{
    background-color: #00308F;
    margin-bottom: 20px;

    padding: 10px;
    min-width: 1920px;
    margin-left: -10px;
    margin-top: -10px
}

.myItemMenu{
    text-decoration: none;
    color:snow;
    margin-right: 20px;
}

.myItemMenu:hover{
    color: cornflowerblue;
}